
<p-toast></p-toast>
<div>
  <div id="divHotel">
    <p-orderList [header]="title" [value]="foodShops" [listStyle]="{'height':'auto'}"
                 filterBy="name,rating,price,status" (onSelectionChange)="hotelClick($event)"
                 filterPlaceholder="Filter by name,rating,price,status" dragdrop="true">
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="image-container">
            <img [src]="product.image" [alt]="product.name" class="product-image"/>
          </div>
          <div class="product-list-detail">
            <h5 class="p-mb-2">{{product.name}}</h5>
            <!--        <i class="pi pi-tag product-category-icon"></i>-->
            <p-rating [(ngModel)]="product.rating" readonly="true" [cancel]="false"></p-rating>
            <!--            <span class="product-category">{{product.rating}}</span>  <span class="product-category">{{product.rating}}</span>-->
          </div>
          <div class="product-list-action">
            <h6 class="p-mb-2">{{product.rating}}</h6>
            <span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span>
          </div>
        </div>
      </ng-template>
    </p-orderList>
  </div>
  <div *ngIf="showMenus" class="divMenu">
    <p-orderList [header]="menuTitle" [value]="foods" [listStyle]="{'height':'auto'}"
                 (onSelectionChange)="foodClick($event)"
                 filterBy="name,rating,price,status" filterPlaceholder="Filter by name,rating,price,status"
                 dragdrop="true">
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="image-container">
            <img [src]="product.image" [alt]="product.name" class="product-image"/>
          </div>
          <div class="product-list-detail">
            <h5 class="p-mb-2">{{product.name}}</h5>
            <!--        <i class="pi pi-tag product-category-icon"></i>-->
            <p-rating [(ngModel)]="product.rating" readonly="true" [cancel]="false"></p-rating>
            <span class="product-category">{{product.rating}}</span>
          </div>
          <div class="product-list-action">
            <h6 class="p-mb-2">₹{{product.price}}</h6>
            <!--            <span [class]="'product-badge status-' + product.status.toLowerCase()">{{product.status}}</span>-->
          </div>
        </div>
      </ng-template>
    </p-orderList>
  </div>
</div>

<div  class="divSummary" *ngFor="let food of foodSelected">
  <span>{{food.name}}</span> &nbsp;&nbsp;
  <select  [(ngModel)]="food.quantity" [ngModelOptions]="{standalone: true}" (change)="qtyChange(food)">
    <option *ngFor="let qt of qty" [value]="qt">{{qt}}</option>
  </select>&nbsp;&nbsp;
  <span>{{food.multipliedQty}}</span> &nbsp;&nbsp;

</div>
<div *ngIf="showOrderButton" class="divBtn btnOrder">
  <button class="cursorPointer" (click)="bookOrder()">Book</button>
</div>

