/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

.product-badge.status-open {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-closed {
  background: #ffcdd2;
  color: #c63737;
}

.p-orderlist-controls {
  display: none !important;
}

.p-orderlist {
  width: 500px !important;
}

.p-orderlist-list {
  max-height: 800px !important;
}

#divHotel {
  width: 500px !important;
  float: left !important;
  height: 100px !important;
  margin: 10px !important;
}

.divMenu {
  width: 500px !important;
  float: left !important;
  height: 100px !important;
  margin: 10px !important;
}
.divBtn {
  float: left !important;
  height: 100px !important;
}
.btnOrder {
  margin-top: 155px !important;
}
.cursorPointer{
  cursor: pointer;
}
.divSummary {
  float: left !important;
  height: 100px !important;
  margin-top: 155px !important;
  margin-left: 68px!important;
}
